<div class="row justify-content-center mt-4">
    <div class="col-lg-4">
        <div class="container">
            <div class="card bg-light  mb-3">
                <div class="card-header text-center">Crear finiquito de contrato</div>
                <div class="card-body">
                    <div *ngIf="contrato">
                        @if (contrato.persona!=undefined) {
                        <p><strong>Nombre:</strong> {{ contrato.persona.nombre }} {{ contrato.persona.apellido }}</p>
                        <p><strong>RUT:</strong> {{ contrato.persona.rut }}</p>
                        } @else {
                        <p><strong>Nombre:</strong></p>
                        <p><strong>RUT:</strong></p>
                        }
    
                        <p><strong>Fecha Inicio del contrato:</strong> {{ contrato.fechaInicio }}</p>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="registrarFiniquito()">
                        <div class="mb-3">
                            <label for="fechaFiniquito" class="form-label">Fecha del finiquito</label>
                            <input type="date" id="fechaFiniquito" class="form-control" formControlName="fechaFiniquito">
                            <span
                                *ngIf="form.get('fechaFiniquito')?.hasError('required') && form.get('fechaFiniquito')?.touched"
                                class="text-danger">Requerido</span>
                        </div>
    
                        <div class="d-flex justify-content-between mt-3">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Guardar</button>
                            <a class="btn btn-secondary" (click)="backClicked()" role="button">Cancelar</a>
                        </div>
    
    
                    </form>
    
                </div>
            </div>
        </div>

    </div>
</div>