<div class="row justify-content-center mt-4">
    <div class="col-lg-3">
        <div class="card bg-light  mb-3">
            <div class="card-header text-center" >Agregar Examen</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div *ngIf="persona">
                        <p><strong>Nombre:</strong> {{ persona.nombre }} {{ persona.apellido }}</p>
                        <p><strong>RUT:</strong> {{ persona.rut }}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha de Examen vista</label>
                        <input formControlName="examenVista" type="Date" class="form-control">
                        <span *ngIf="form.get('examenVista')?.hasError('examenVista') && form.get('examenVista')?.touched" class="text-danger">El campo Fecha de Examen vista es <strong>requerido</strong></span>
                    </div>

                    <div class="d-flex justify-content-between mt-3">
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Guardar</button>
                        <a class="btn btn-secondary" (click)="backClicked()" role="button" >Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

