<nav class="navbar navbar-expand-lg" style="background-color: #d6d1ff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SIGIPRO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">Disponible</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Personas
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/ver-lista-personas">Ver lista de personas</a></li>
                    <li><a class="dropdown-item" routerLink="agregar-persona">Crear persona</a></li>
                </ul>
                </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contratos
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/contratos">Ver contratos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Crear contrato</a></li>
                <li><a class="dropdown-item" href="#">Crear anexo</a></li>
                <li><a class="dropdown-item" href="#">Crear finiquito</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Inventario
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/inventario">Ver inventario</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Agregar inventario</a></li>
                </ul>
                </li>
        </ul>
        </div>
    </div>
</nav>