<nav class="navbar navbar-expand-lg mb-3 bg-body-secondary">
	<div class="container">
		<a class="navbar-brand" [routerLink]="'/'">
			<img src="logoSIGIPRO-small.png" height="30" class="d-inline-block align-text-top" />
			SIGIPRO
		</a>

		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto">

				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/home'" (click)="isMenuCollapsed = true">Home</a>
				</li>

				@if (hasAnyRole([1,2])) {
				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Personas</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu bg-navbar">
						<a ngbDropdownItem routerLink="/persona" (click)="isMenuCollapsed = true">Agregar
							persona</a>
						<a ngbDropdownItem routerLink="/personas" (click)="isMenuCollapsed = true">Todas las
							personas</a>
					</div>
				</li>
				}
				@if(hasAnyRole([1,2])){
				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">Contratos</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu bg-navbar">
						<a ngbDropdownItem routerLink="/contratos" (click)="isMenuCollapsed = true">Personas
							contratadas</a>
					</div>
				</li>
				}
				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3"
						role="button">{{user?.username}}</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu bg-navbar">
						<button ngbDropdownItem (click)="toggleTheme()">Tema: Claro/Oscuro</button>
						<button ngbDropdownItem (click)="logout()">Logout</button>
					</div>
				</li>

			</ul>
		</div>
	</div>
</nav>