<div class="row justify-content-center mt-4">
    <div class="col-lg-3">
        <div class="card bg-light  mb-3">
            <div class="card-header text-center" >{{tilulo}} persona</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label">Rut</label>
                        <input formControlName="rut" type="text" class="form-control" placeholder="Ingrese rut">
                        <span *ngIf="form.get('rut')?.hasError('required') && form.get('rut')?.touched">El campo rut es <strong>requerido</strong></span>
                        <span *ngIf="form.get('rut')?.hasError('rutInvalido') && form.get('rut')?.touched"> Formato <strong>incorrecto.</strong></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese nombre">
                        <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">El campo nombre es <strong>requerido</strong></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido</label>
                        <input formControlName="apellido" type="text" class="form-control" placeholder="Ingrese apellido">
                        <span *ngIf="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched">El campo apellido es <strong>requerido</strong></span>
                    </div>

                    <div class="d-flex justify-content-between mt-3">
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Guardar</button>
                        <a class="btn btn-secondary" (click)="backClicked()" role="button" >Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


