<div class="row justify-content-center mt-4">
    <div class="col-lg-3">
        <div class="card bg-light  mb-3">
            <div class="card-header text-center">Crear anexo de contrato</div>
            <div class="card-body">
                <div *ngIf="contrato">
                    <p><strong>Nombre:</strong> {{ contrato.persona.nombre }} {{ contrato.persona.apellido }}</p>
                    <p><strong>RUT:</strong> {{ contrato.persona.rut }}</p>
                    <p><strong>Fecha Inicio del contrato:</strong> {{ contrato.fechaInicio }}</p>
                </div>
                <form [formGroup]="form" (ngSubmit)="registrarAnexo()">
                    <div class="mb-3">
                        <label for="fechaAnexo" class="form-label">Fecha del anexo</label>
                        <input type="date" id="fechaAnexo" class="form-control" formControlName="fechaAnexo">
                        <span *ngIf="form.get('fechaAnexo')?.hasError('required') && form.get('fechaAnexo')?.touched" class="text-danger">Requerido</span>
                    </div>
                    
                    <div class="d-flex justify-content-between mt-3">
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Guardar</button>
                        <a class="btn btn-secondary" (click)="backClicked()" role="button" >Cancelar</a>
                    </div>
                    
                    
                </form>
                
            </div>
        </div>
    </div>
</div>

