<footer class="footer">
    <hr class="border-top border-1 border-secondary">
    <div class="container text-center">
        <p>
            <a routerLink="/" class="text-white">Inicio</a> | 
            <a routerLink="/quienes-somos" class="text-white">Quiénes somos</a> | 
            <a routerLink="/politica-privacidad" class="text-white">Política de privacidad</a> | 
            <a routerLink="/terminos-condiciones" class="text-white">Términos y condiciones</a>
        </p>
        <p>© 2025 SIGIPRO - Todos los derechos reservados</p>
    </div>
</footer>

